<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiyaschool.aiya">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.OtherCardActivity"/>
        <activity android:name=".love.matched.view.ClockInActivity"/>
        <activity android:name=".love.matched.view.NewMissionActivity"/>
        <activity android:name=".love.matched.view.IntimacyDetailActivity"/>
        <activity android:name=".love.matched.view.IntimacyRulesActivity"/>
        <!-- 消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.aiyaschool.aiya.message.ui.activity.LoginActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.RegisterActivity" />
        <activity
            android:name="com.aiyaschool.aiya.message.ui.activity.ChatQQActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustUnspecified" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.PhotosThumbnailActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.MiddleActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.ChatPhotosActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.HelloActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.MsgActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.MsgListActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.RegisterFirstActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.RegisterTwoActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.RegisterThreeActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.ForgetOneActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.PhotoChooseActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.PhotoCropActivity" />
        <activity android:name="com.aiyaschool.aiya.message.ui.activity.ForgetTwoActivity" />
    </application>

</manifest>